<!-- Toolbar -->
<mat-toolbar color="primary" class="app-header">
  <div><a href="https://quicksoft.io/" target="_blank" class="homePage" style="text-decoration : none; color: inherit;">Quicksoft.io</a></div>
  <span class="nav-tool-items">
    <a mat-button routerLink="login" routerLinkActive="active" style="text-decoration : none; color: inherit;">Log in</a>
    <a mat-button mat-raised-button routerLink="forgotPassword" routerLinkActive="active" style="text-decoration : none">Forgot Password</a>
  </span>
</mat-toolbar>

<router-outlet></router-outlet>